rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /letters/{letterId} {
      // Anyone can read and create letters, and react (update)
      allow read: if true;
      allow create: if true;
      allow update: if true;
    }
  }
}
